<template>
  <div id="view-scope-form">
    <b-form
      :class="classStyle"
      @submit.prevent="onSubmit"
      novalidate>
      <!-- Scopes -->
      <b-form-group :label="$t('view.scope.form.currentScope')"
                    label-for="scope">
        <b-form-select
          ref="selectedScope"
          v-model.trim="selectedScope"
          @change="handlerSelectScope($event)"
          :options="parseScopesLite" />
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Vuex
  import scopeActionsName from '@/store/modules/scope/actionsName'
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants
  const { UPDATE_SCOPE_SELECTED } = scopeActionsName

  export default {
    name: 'view-scope-form',
    props: {
      classStyle: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        errorRequest: this.$t('action.error.server'),
        selectedScope: null
      }
    },
    watch: {
      getSelectedScope (value) {
        this.setSelectedOption(value)
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.scope, ['getScopesLite', 'getSelectedScope']),
      ...mapGetters(VUEX_MODULES.user, ['isUserLogged']),
      /**
       * Parse list scopes to use into component select
       */
      parseScopesLite: function () {
        const scopes = [
          {
            value: null,
            text: this.$t('view.scope.form.selectScope')
          }
        ]

        return this.getScopesLite.reduce((sumScopes, scope) => {
          sumScopes.push({
            value: scope.id,
            text: scope.name
          })
          return sumScopes
        }, scopes)
      }
    },
    /**
     * LifeCycle Vue's functions
     */
    mounted () {
      // This is triggering after the next "tick" (tac)
      this.$nextTick(() => {
        this.setSelectedOption(this.getSelectedScope)
      })
    },
    methods: {
      /**
       * Handler change value in select
       * @param {String} $event - changed value
       */
      handlerSelectScope ($event) {
        if ($event) {
          this.$store.dispatch(`${VUEX_MODULES.scope}/${UPDATE_SCOPE_SELECTED}`, $event)
          this.$emit('change', $event)
        }
      },
      /**
       * Set "selected" value into select
       * @param value - selected value
       */
      setSelectedOption (value) {
        // This is not the best solution but
        // I need that the DOM is drawn
        setTimeout(() => {
          if (value && this.isUserLogged) {
            const select = this.$refs.selectedScope.$el

            for (let i = 0; i < select.options.length; i++) {
              if (value === select.options[i].value) {
                select.options[i].selected = true
              }
            }
          }
        }, 1000)
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  #view-scope-form {
    height: 100%;
  }
</style>