<template>
  <div id="view-explore">
    <!-- Map component -->
    <app-map-issue
      ref="mapIssue"
      @map-load="mapLoaded">
    </app-map-issue>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Components
  import AppMapIssue from '@/components/map/AppMapIssue'
  // Vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants

  export default {
    name: 'view-explore',
    components: { AppMapIssue },
    computed: {
      ...mapGetters(VUEX_MODULES.issue, ['getIssue']),
      /**
       * return issue detail
       * @returns {Object}
       */
      issueDetail () {
        return this.getIssue(this.$route.params.id)
      }
    },
    methods: {
      /**
       * Triggered after map is loaded
       */
      mapLoaded (map) {
        // Fly to issue
        if (this.$route.params.id && this.issueDetail) {
          const coordinates = [
            this.issueDetail.geometry.coordinates[0],
            this.issueDetail.geometry.coordinates[1]
          ]
          // Center the map
          map.flyTo({ center: coordinates })
          // The map was loaded but the differents layers no
          setTimeout(() => {
            // Click in map
            map.fire('click', { lngLat: coordinates })
          }, 1000)
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-explore {
    height: 100%;
  }
</style>
