<template>
  <div id="view-issues-search-form">
    <!-- Top options -->
    <div class="top-options">
      <div class="top-options__left">
        <b-button
          class="btn-circle"
          variant="light"
          @click.prevent="hideSearch">
          <img
            src="@/assets/img/icons/back_accent.svg"
            alt="Back">
        </b-button>
        <span class="label">
          {{ $t('view.issue.searcher') }}
        </span>
      </div>
    </div>
    <!-- Search form -->
    <b-container>
      <b-form
        @submit.prevent="onSearch"
        novalidate>
        <!-- Nº orden -->
        <b-form-group :label="$t('form.fields.idEntity')"
                      label-for="issue_number">
          <b-form-input
            ref="issue_number"
            v-model="issue_number"
            type="text">
          </b-form-input>
        </b-form-group>
        <!-- Assigned -->
        <b-form-group :label="$t('form.fields.assignedTo')"
                      label-for="assigned_user">
          <b-form-select
            ref="assigned_user"
            v-model="assigned_user"
            :options="assignedOptions">
          </b-form-select>
        </b-form-group>
        <!-- Type -->
        <b-form-group :label="$t('form.fields.type')"
                      label-for="type">
          <b-form-select
            ref="type"
            v-model="type"
            :options="issueTypesOptions">
          </b-form-select>
        </b-form-group>
        <!-- Status -->
        <b-form-group :label="$t('form.fields.statusLabel')"
                      label-for="status">
          <b-form-select
            ref="status"
            v-model="status"
            :options="issueStatusOptions">
          </b-form-select>
        </b-form-group>
        <!-- Fecha desde -->
        <b-form-group :label="$t('form.fields.dateStart')"
                      label-for="start">
          <b-form-input
            ref="start"
            v-model="start"
            type="date">
          </b-form-input>
        </b-form-group>
        <!-- Fecha hasta -->
        <b-form-group :label="$t('form.fields.dateFinish')"
                      label-for="finish">
          <b-form-input
            ref="finish"
            v-model="finish"
            type="date">
          </b-form-input>
        </b-form-group>
        <div class="actions">
          <b-button
            type="button"
            size="sm"
            variant="outline-dark"
            @click.prevent="hideSearch">
            {{ $t('form.action.cancel') }}
          </b-button>
          <b-button
            type="submit"
            size="sm"
            variant="outline-primary">
            {{ $t('form.action.search') }}
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Views
  import ViewScopeForm from '@/views/scope/ViewScopeForm'
  // Vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants

  export default {
    name: 'view-issues-search-form',
    components: { ViewScopeForm },
    data () {
      return {
        issue_number: null,
        type: null,
        status: null,
        assigned_user: null,
        start: null,
        finish: null
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.user, ['getLoggedUser', 'getUsers']),
      ...mapGetters(VUEX_MODULES.issue, ['getIssueStatus', 'getIssueTypes']),
      /**
       * Options to assigned selector
       */
      assignedOptions () {
        const availableUsers = this.getUsers.map((user) => {
          return {
            value: user.id,
            text: user.id === this.getLoggedUser.id
              ? `${user.name} ${user.surname} (${this.$t('app.myself')})`
              : `${user.name} ${user.surname}`
          }
        })

        availableUsers.unshift({
          value: null,
          text: this.$t('app.all')
        })

        return availableUsers
      },
      /**
       * Options to issue status selector
       */
      issueStatusOptions () {
        return this.getIssueStatus.reduce((status, currentStatus, index, initStatus) => {
          status.push(currentStatus)
          if (index === (initStatus.length - 1)) {
            status.unshift({
              value: null,
              text: this.$t('app.all')
            })
          }

          return status
        }, [])
      },
      /**
       * Options to issue types selector
       */
      issueTypesOptions () {
        return this.getIssueTypes.reduce((types, currentTypes, index, initTypes) => {
          types.push(currentTypes)
          if (index === (initTypes.length - 1)) {
            types.unshift({
              value: null,
              text: this.$t('app.all')
            })
          }

          return types
        }, [])
      }
    },
    methods: {
      /**
       * Submit search formulary
       */
      onSearch () {
        this.$emit('onSearch',
          {
            issue_number: this.issue_number,
            type: this.type,
            status: this.status,
            assigned_user: this.assigned_user,
            start: this.start,
            finish: this.finish
          }
        )
        this.hideSearch()
      },
      /**
       * Emit event to parent component to hide this child (view)
       */
      hideSearch () {
        this.$emit('hideSearch')
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issues-search-form {
    height: 100%;
    form {
      padding: $margin-md 0;
    }
  }
</style>
