<template>
  <div id="view-issue-files-form">
    <b-form
      @submit.prevent="onSubmit"
      novalidate>
      <!-- Plugin to upload files -->
      <b-form-group
        label-for="files"
        class="upload-file"
        :label="$t('form.fields.uploadFiles')">
        <image-uploader
          :maxWidth="1024"
          :quality="0.7"
          :preview=false
          outputFormat="verbose"
          capture="user"
          accept="image/*"
          @input="setFileFromInput"
        >
          <span
            v-if="hasFileError"
            for="fileInput"
            class="invalid"
            slot="upload-label">
            {{ $t('form.action.errorUploadSize') }}
          </span>
        </image-uploader>
      </b-form-group>
      <b-form-group
        v-if="filteredFiles.length"
        :label="$t('form.fields.filesToUpload')"
        label-for="files">
        <ul class="files">
          <li
            v-for="(file, index) in filteredFiles"
            :key="index">
            {{ file.name }}
          </li>
        </ul>
      </b-form-group>
      <div class="actions">
        <b-button
          type="button"
          size="sm"
          variant="outline-dark"
          @click.prevent="handlerHideModal">
          {{ $t('form.action.cancel') }}
        </b-button>
        <b-button
          type="submit"
          size="sm"
          variant="outline-primary"
          :disabled="processingForm || !isFormCompleted">
          {{ $t('form.action.save') }}
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixins
  import formMixin from '@/mixins/formMixin'
  import interfaceMixin from '@/mixins/interfaceMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Vue-validate plugin
  import { validationMixin } from 'vuelidate'
  // Utils
  import utils from '@/lib/utils'
  import customValidations from '@/lib/customValidations'

  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants
  const { base64ToSizeFile, fileToBase64 } = utils
  const { sizeFile, typeFile } = customValidations
  const get = require('lodash.get')

  export default {
    name: 'view-issue-files-form',
    mixins: [ validationMixin, formMixin, interfaceMixin, issueMixin ],
    props: {
      params: {
        type: Object,
        default: {}
      }
    },
    data () {
      return {
        successForm: this.$t('view.issue.form.files.successForm'),
        errorForm: this.$t('view.issue.form.files.errorForm'),
        files: [],
        hasFileError: false,
        maxFileSize: 2048000 // 2 MB
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.user, ['getLoggedUser']),
      /**
       * Filtered files. This files will be show in the list
       */
      filteredFiles () {
        return this.files.filter((file) => {
          return (!file.size || sizeFile(file, this.maxFileSize)) && typeFile(file)
        })
      }
    },
    methods: {
      /**
       * Set file from input to "files" array
       *
       * @param {Object} file - file included by user
       */
      setFileFromInput: function (file) {
        // Reset error
        this.hasFileError = false
        // If the file is not a image, the component doesn't
        // return the file converted into base64
        if (!file.dataUrl) {
          fileToBase64(file)
            .then((base64) => {
              file.dataUrl = base64
              this.checkFilesSize(file)
            })
            .catch(() => this.hasFileError)
          // Pass to base64 any File not image
        } else {
          this.checkFilesSize(file)
        }
      },

      /**
       * Check if the new file can join to the other files
       * array "files"
       *
       * @param {Object} file - file included by user
       */
      checkFilesSize: function (file) {
        // Get total bytes all files to know
        // if we have reached the limit
        const sumFilesSize = this.files.reduce((sumSizes, file) => {
          sumSizes += base64ToSizeFile(file.dataUrl)
          return sumSizes
        }, base64ToSizeFile(file.dataUrl))

        // Add file or set error
        if (sumFilesSize > this.maxFileSize) {
          this.hasFileError = true
        } else {
          // Add file
          this.files.push(file)
        }
      },

      /**
       * Is triggered after the form is correctly validated
       * -- Prepare the files before upload --
       * @return {Promise}
       */
      beforeSubmit () {
        // We prepare the files until upload
        return new Promise((resolve, reject) => {
          this.files = this.parseFilesToUpload(this.files)
          resolve()
        })
      },
      /**
       * Is triggered after the form is correctly
       * validated by "Vue-validate"
       */
      afterSubmit () {
        this.showLoadingLayer({ show: true })
        const filesToSend = {
          id_issue: this.params.id,
          id_user: this.getLoggedUser.id,
          files: this.filteredFiles
        }

        this.saveIssueFilesApi(filesToSend)
          .then((response) => {
            if (get(response, 'data', false) !== false) {
              // Save data in Vuex
              this.saveFilesIssue(response.data)
              // Show success message
              this.showAlert({
                content: this.successForm,
                variant: 'success'
              })
            } else {
              // Show error
              this.showAlert({
                content: this.errorForm,
                variant: 'danger'
              })
            }
          })
          .catch((response) => {
            // Show error
            this.showAlert({
              content: this.errorForm,
              variant: 'danger'
            })
          })
          .finally(() => {
            this.processingForm = false
            this.showLoadingLayer({ show: false })
            // Close modal when the component was launched from modal
            this.hideModal()
          })
      },
      /**
       * Prepare the files to API request
       * @param {Object | Array} files - files included by user
       * @return {Array} - array files
       */
      parseFilesToUpload (files) {
        // Promises inside reduce function, something strange :S
        return files.reduce((sumFiles, file) => {
          sumFiles.push({
            data: file.dataUrl,
            name: file.name,
            size: base64ToSizeFile(file.dataUrl),
            type: file.type
          })
          return sumFiles
        }, [])
      },
      /**
       * Hide Modal where the form is
       * @param {Object} $event - event triggered
       */
      handlerHideModal ($event) {
        this.hideModal()
      }
    },
    // Validations with Vue-validate
    validations: {
      files: {
        sizeFiles: (files) => {
          return !this.hasFileError && files
            .reduce((result, file) => sizeFile(file, this.maxFileSize), true)
        },
        typeFiles: (files) => {
          return !this.hasFileError && files
            .reduce((result, file) => typeFile(file), true)
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issue-files-form {
    form {
      .files {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          border-bottom: 1px solid $neutral-20;
          padding:$margin-sm;
          &:first-child {
            border-top: 1px solid $neutral-20;
          }
        }
      }
    }
  }
</style>
