<template>
  <div id="view-issue-status-form">
    <b-form
      class="dark"
      @submit.prevent="onSubmit"
      novalidate>
      <!-- Status -->
      <b-form-group :label="$t('form.fields.type')"
                    label-for="type">
        <b-form-select
          ref="type"
          v-model.trim="selectedStatus"
          :options="getStatusOptions"
          :state="getStatusInput('selectedStatus')">
        </b-form-select>
        <b-form-invalid-feedback>
          {{ this.$t('form.validation.notEmpty') }}
        </b-form-invalid-feedback>
      </b-form-group>
      <div class="actions">
        <b-button
          type="button"
          size="sm"
          variant="outline-dark"
          @click.prevent="handlerHideModal">
          {{ $t('form.action.cancel') }}
        </b-button>
        <b-button
          type="submit"
          size="sm"
          variant="outline-primary"
          :disabled="processingForm || !isFormCompleted">
          {{ $t('form.action.save') }}
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixins
  import formMixin from '@/mixins/formMixin'
  import interfaceMixin from '@/mixins/interfaceMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Vue-validate plugin
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'
  // Vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants
  const get = require('lodash.get')

  export default {
    name: 'view-issue-status-form',
    mixins: [ validationMixin, formMixin, interfaceMixin, issueMixin ],
    props: {
      params: {
        type: Object,
        default: {}
      }
    },
    data () {
      return {
        errorForm: this.$t('view.issue.form.status.errorForm'),
        successForm: this.$t('view.issue.form.status.successForm'),
        selectedStatus: null
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.user, ['getLoggedUser']),
      ...mapGetters(VUEX_MODULES.issue, ['getIssueStatus']),
      /**
       * Parse list status to use into component select
       */
      getStatusOptions: function () {
        const status = [
          {
            value: null,
            text: this.$t('view.issue.form.edit.selectStatus')
          }
        ]

        return this.getIssueStatus.reduce((sumStatus, status) => {
          sumStatus.push({
            value: status.value,
            text: status.text
          })
          return sumStatus
        }, status)
      }
    },
    methods: {
      /**
       * Is triggering after the form is correctly
       * validated by "Vue-validate"
       */
      afterSubmit () {
        this.showLoadingLayer({ show: true })
        const statusToSend = {
          id_issue: this.params.id,
          id_user: this.getLoggedUser.id,
          type: this.selectedStatus
        }
        this.saveIssueStatusApi(statusToSend)
          .then((response) => {
            const currentStatus = get(response, 'data', false)

            if (Array.isArray(currentStatus) && currentStatus.length > 0) {
              // Save data in Vuex
              this.saveStatusIssue(Object.assign({}, statusToSend, currentStatus[0]))
              // Show Ok
              this.showAlert({
                content: this.successForm,
                variant: 'success'
              })
            } else {
              // Show error
              this.showAlert({
                content: this.errorForm,
                variant: 'danger'
              })
            }
          })
          .catch((response) => {
            // Show error
            this.showAlert({
              content: this.errorForm,
              variant: 'danger'
            })
          })
          .finally(() => {
            this.processingForm = false
            this.showLoadingLayer({ show: false })
            // Close modal when the component was launched from modal
            this.hideModal()
          })
      },
      /**
       * Hide Modal where the form is
       * @param {Object} $event - event triggered
       */
      handlerHideModal ($event) {
        this.hideModal()
      }
    },
    // Validations with Vue-validate
    validations: {
      selectedStatus: {
        required
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issue-status-form {
    height: 100%;
  }
</style>
