<template>
  <div id="view-issue-detail">
    <app-toggle-layers
      ref="toggleLayer">
      <!-- View Issue -->
      <template slot="first">
        <div id="view-issue-detail__view">
          <!-- Top options -->
          <div class="top-options">
            <div class="top-options__left">
              <b-button
                class="btn-circle"
                variant="light"
                @click.prevent="goNavigationTo(-1)">
                <img
                  src="@/assets/img/icons/back_accent.svg"
                  alt="Back">
              </b-button>
              <span class="label">
                {{ $t('view.issue.name') }}
              </span>
            </div>
            <div class="top-options__right">
              <b-button
                class="btn-circle"
                variant="danger"
                @click.prevent="showDeleteModal">
                <img
                  src="@/assets/img/icons/cross_negative.svg"
                  alt="Remove">
              </b-button>
              <b-button
                class="btn-circle"
                variant="primary"
                @click.prevent="toggleForms">
                <img
                  src="@/assets/img/icons/edit_negative.svg"
                  alt="Edit">
              </b-button>
              <b-button
                class="btn-circle"
                variant="primary"
                @click.prevent="showFilesForm">
                <img
                  src="@/assets/img/icons/attach_negative.svg"
                  alt="Attach">
              </b-button>
            </div>
          </div>
          <b-container>
            <!-- Detail Issue -->
            <div class="issue-detail">
              <h3 class="issue-detail__title">
                <span class="label">{{ $t('view.issue.currentStatus') }}</span>
                <span class="status">
                  {{ $t(`view.issue.status.${issueDetail.properties.current_status}`) }}
                </span>
              </h3>
              <b-card no-body>
                <b-card-header>
                  <span class="label">{{ $t('view.issue.number') }}</span>
                  <h3 class="order">{{ issueDetail.properties.id }}</h3>
                  <span class="time">{{ $t('view.issue.created') }}: {{ issueDetail.properties.created_at | dateFormatToLocale }}</span>
                </b-card-header>
                <b-card-body>
                  <div class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.assignedUser') }}</span>
                    <div class="text">
                      {{ assignedUser }}
                    </div>
                  </div>
                  <div class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.description') }}</span>
                    <div class="text">
                      <span v-html="getDescriptionWithBr"></span>
                    </div>
                  </div>
                  <div class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.address') }}</span>
                    <div class="text">
                      {{ issueDetail.properties.address }}
                    </div>
                    <b-button
                      block
                      size="sm"
                      variant="outline-primary"
                      class="add-button mt-4"
                      @click.prevent="seeInMap">
                      {{ $t('view.issue.seeInMap') }}
                    </b-button>
                  </div>
                  <div class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.characteristics') }}</span>
                    <div class="text">
                      <dl class="row mb-0">
                        <dt class="col-sm-3">{{ $t('view.issue.type') }}</dt>
                        <dd class="col-sm-9">{{ $t(`view.issue.types.${issueDetail.properties.type}`) }}</dd>
                        <dt class="col-sm-3">{{ $t('view.issue.estimatedTime') }}</dt>
                        <dd class="col-sm-9">{{ issueDetail.properties.estimated_time }} {{ $t('app.time.days') }}</dd>
                        <dt class="col-sm-3">{{ $t('view.issue.budget') }}</dt>
                        <dd class="col-sm-9">{{ issueDetail.properties.budget }} &euro;</dd>
                      </dl>
                    </div>
                  </div>
                  <!-- Images -->
                  <div
                    v-if="getIssueFiles(fileImg).length"
                    class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.imagesAttached') }}</span>
                    <div class="text">
                      <ul class="images">
                        <li
                          v-for="file in getIssueFiles(fileImg)"
                          :key="file.id">
                          <a target="_blank"
                            :href="file.url">
                            <div
                              class="image"
                              :style="`background-image: url('${file.url}')`">
                            </div>
                            <span class="name">
                              {{ file.name | truncate({ length: 25 }) }}
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Documents -->
                  <div
                    v-if="getIssueFiles(fileDoc).length"
                    class="issue-detail-parameters">
                    <span class="label">{{ $t('view.issue.documentsAttached') }}</span>
                    <div class="text">
                      <ul class="files">
                        <li
                          v-for="file in getIssueFiles(fileDoc)"
                          :key="file.id">
                          <a target="_blank"
                            :href="file.url">
                            <img src="@/assets/img/icons/file_pdf.svg">
                            <span class="name">
                              {{ file.name | truncate({ length: 50 }) }}
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </b-card-body>
              </b-card>
            </div>
            <!-- Detail Issue Status -->
            <div class="issue-status">
              <h3 class="title">
                {{ $t('view.issue.table.title') }}
              </h3>
              <b-button
                block
                size="sm"
                variant="outline-primary"
                class="add-button"
                @click.prevent="showStatusForm">
                {{ $t('view.issue.table.addButton') }}
              </b-button>
              <b-card
                v-if="getIssueStatusTable !== false"
                no-body>
                <b-card-body
                  class="pt-0 pb-0">
                  <b-table
                    responsive
                    :items="getIssueStatusTable">
                  </b-table>
                </b-card-body>
              </b-card>
            </div>
          </b-container>
        </div>
      </template>
      <!-- Edit Issue -->
      <template slot="second">
        <div id="view-issue-detail__edit">
          <view-issue-form
            :issueData="issueDetail.properties"
            @hideForm="toggleForms">
          </view-issue-form>
        </div>
      </template>
    </app-toggle-layers>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixin
  import interfaceMixin from '@/mixins/interfaceMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Components
  import AppToggleLayers from '@/components/interface/AppToggleLayers'
  // View
  import ViewIssueForm from '@/views/issue/ViewIssueForm'
  import ViewIssueStatusForm from '@/views/issue/ViewIssueStatusForm'
  import ViewIssueFilesForm from '@/views/issue/ViewIssueFilesForm'
  // Vuex
  import { mapGetters } from 'vuex'
  // Utils
  import utils from '@/lib/utils'

  const { VUEX_MODULES } = constants
  const { dateToUTC, isFileAnImage, nl2br } = utils
  const API_ENDPOINT = process.env.API_ENDPOINT
  const get = require('lodash.get')

  export default {
    name: 'view-issue-detail',
    mixins: [ interfaceMixin, issueMixin ],
    components: { ViewIssueForm, AppToggleLayers },
    data () {
      return {
        // Type files
        fileDoc: 'doc',
        fileImg: 'img'
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.issue, ['getIssue']),
      ...mapGetters(VUEX_MODULES.user, ['getLoggedUser', 'getUsers']),
      /**
       * return issue detail
       * @returns {Object}
       */
      issueDetail () {
        return this.getIssue(this.$route.params.id)
      },
      /**
       * Get the user name
       *
       * @return {String} name user
       */
      assignedUser () {
        return this.getUsers
          .filter((user) => user.id === this.issueDetail.properties.id_user)
          .reduce((nameUser, user) => {
            return `${user.name} ${user.surname}`
          }, '')
      },
      /**
       * Parse data for status table
       */
      getIssueStatusTable () {
        const status = this.issueDetail.properties.status
        if (Array.isArray(status)) {
          return this.issueDetail.properties.status
            .map((state) => {
              return {
                [this.$t('view.issue.statusLabel')]: this.$t(`view.issue.status.${state.type}`),
                [this.$t('view.issue.date')]: dateToUTC(state.created_at),
                _cellVariants: { [this.$t('view.issue.statusLabel')]: 'bold' } // changes in class (css)
              }
            })
        } else {
          return false
        }
      },
      /**
       * Get issue description with symbols to new line
       */
      getDescriptionWithBr () {
        return nl2br(this.issueDetail.properties.description)
      }
    },
    methods: {
      /**
       * Get the files to show in the list
       *
       * @param {String} type - type document
       * @return {Array} - files to show
       */
      getIssueFiles (type) {
        let currentFiles = get(this.issueDetail, 'properties.files', [])

        if (!Array.isArray(currentFiles)) {
          currentFiles = []
        }

        return currentFiles.reduce((sumFiles, file) => {
          if ((type === this.fileImg && isFileAnImage(file.name)) ||
            (type === this.fileDoc && !isFileAnImage(file.name))) {
            sumFiles.push({
              id: file.id,
              name: file.name,
              url: `${API_ENDPOINT}/${file.url}`
            })
          }
          return sumFiles
        }, [])
      },
      /**
       * Toggle visibility edit form
       */
      toggleForms () {
        this.$refs.toggleLayer.changeVisibility()
        // Move the scroll to top window
        window.scrollTo(0, 0)
      },
      /**
       * Show files form (add new file)
       */
      showFilesForm () {
        this.modifyModal({
          title: this.$t('view.issue.addFiles'),
          component: ViewIssueFilesForm,
          params: { id: this.issueDetail.properties.id },
          showFooter: false
        }, { show: true })
      },
      /**
       * Show Modal with question about delete the issue
       */
      showDeleteModal () {
        this.modifyModal({
          title: this.$t('app.info.title'),
          content: this.$t('view.issue.removeQuestion'),
          actionButtonOK: () => {
            this.deleteIssue({ id: this.issueDetail.properties.id })
            // Redirect to Index
            this.$router.push({ path: '/issues' })
          }
        }, { show: true })
      },
      /**
       * Show status form (add new state)
       */
      showStatusForm () {
        this.modifyModal({
          title: this.$t('view.issue.addStatus'),
          component: ViewIssueStatusForm,
          params: { id: this.issueDetail.properties.id },
          showFooter: false
        }, { show: true })
      },
      /**
       * Go to the map (explore) and see the issue
       */
      seeInMap () {
        this.$router.push({
          name: 'explore',
          params: {
            id: this.issueDetail.properties.id
          }
        })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issue-detail {
    height: 100%;
    // Detail issue
    #view-issue-detail__view {
      height: 100%;
      .container {
        padding-bottom: $height-menu + $height-european;
        margin-bottom: $margin-md;
        .issue-detail {
          margin-bottom: $margin-md;
          .issue-detail__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin:0;
            height: $height-menu;
            .label {
              font-size:$font-size-sm;
            }
            .status {
              font-size: $font-size-md;
              font-weight: 700;
              text-transform: capitalize;
              &.success {
                color: $success;
              }
            }
          }
          .card {
            .card-header {
              .label {
                margin-bottom: $margin-sm;
              }
              .order {
                font-size: $font-size-xl;
                line-height: $font-size-xl;
                margin:0;
                padding:0;
                color: $neutral;
                font-weight: 400;
                margin-bottom: $margin-sm;
              }
              .time {
                font-size: $font-size-sm;
                line-height: $font-size-sm;
                color: $neutral-10;
              }
            }
            .card-body {
              display: flex;
              flex-direction: column;
              padding-top: 0;
              padding-bottom: 0;
              .issue-detail-parameters {
                border-bottom: 1px solid $neutral-10;
                padding: $padding-md 0;
                &:last-child {
                  border-bottom: 0;
                }
              }
              .label {
                display: block;
                margin-bottom: $margin-sm;
              }
              .text {
                font-size: $font-size-lg;
                line-height: $font-size-lg;
                &:last-child {
                  margin-bottom: 0;
                }
                dl {
                  font-size: $font-size-md;
                  dt {
                    color: $neutral;
                    font-weight: normal;
                  }
                  dd {
                    color: $neutral-10;
                  }
                }
                .files {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  li {
                    line-height: 2rem;
                    margin:0 0 $margin-sm;
                    img {
                      float: left;
                      margin: 0 5px 0 0;
                      width: 2rem;
                    }
                    .name {
                      font-size: $font-size-md;
                      line-height: $font-size-md;
                    }
                  }
                }
                .images {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  li {
                    line-height: $font-size-lg;
                    margin:0 0 $margin-sm;
                    display: inline-block;
                    width: 50%;
                    padding: 0 2px;
                    a {
                      display: block;
                      .image {
                        width: 100%;
                        height: $height-thumb;
                        background-position: center;
                        background-size: cover;
                      }
                      .name {
                        font-size: $font-size-md;
                        display: block;
                        margin-top: $margin-xs;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .issue-status {
          .title{
            margin: 0 0 $margin-md;
            padding: 0;
            color: $secondary;
            font-size: $font-size-xl;
            line-height: $font-size-xl;
          }
          .add-button {
            margin: 0 0 $margin-md;
          }
          .card {
            .card-body {
              .table-responsive {
                .table {
                  margin-bottom: 0 !important;
                }
              }
            }
          }
        }
      }
    }
    // Edit form issue
    #view-issue-detail__edit {
      height: 100%;
    }
  }
</style>
