<template>
  <div
    id="view-issues"
    ref="viewIssues">
    <app-toggle-layers
      ref="toggleLayer">
      <!-- Result list issues -->
      <template slot="first">
        <div id="view-issues__list">
          <template v-if="getSelectedScope">
            <!-- Top options -->
            <div class="top-options">
              <div class="top-options__left">
                <span class="label">
                  {{ $t('view.issue.numRegisters', { number: getIssues.length }) }}
                </span>
              </div>
              <div class="top-options__right">
                <b-button
                  class="btn-circle"
                  variant="primary"
                  @click.prevent="toggleSearchForm">
                  <img
                    src="@/assets/img/icons/search_negative.svg"
                    alt="Edit">
                </b-button>
              </div>
            </div>
            <!-- List issues -->
            <b-container>
              <template v-if="getIssues.length">
                <router-link
                  v-for="issue in getIssues"
                  :key="issue.id"
                  :to="`/issues/${issue.properties.id}`">
                  <b-card no-body>
                    <img
                      class="icon-border"
                      src="@/assets/img/icons/arrow_right_primary.svg">
                    <b-card-header>
                      <span class="time">{{ issue.properties.created_at | dateFormatToLocale }}</span>
                      <span class="label">{{ $t('view.issue.number') }}</span>
                      <h3 class="order">{{ issue.properties.id }}</h3>
                      <div class="text">
                        {{ issue.properties.description | truncate({ length: 80, removeHtml: true }) }}
                      </div>
                    </b-card-header>
                    <b-card-body>
                      <span class="person">
                        {{ getAssignedUser(issue.properties.id_user) }}
                      </span> /
                      <span class="status">
                        {{ $t(`view.issue.status.${issue.properties.current_status}`) }}
                      </span>
                    </b-card-body>
                  </b-card>
                </router-link>
              </template>
              <!-- No results -->
              <template v-else>
                <app-info
                  :text="$t('view.issue.noResult')">
                </app-info>
              </template>
            </b-container>
          </template>
          <!-- No selected scope -->
          <template v-else>
            <b-container>
              <app-info
                :text="$t('view.issue.scope.notSelected')">
              </app-info>
              <view-scope-form
                id="view-scope-form"
                @change="handlerChangeScope">
              </view-scope-form>
            </b-container>
          </template>
        </div>
      </template>
      <!-- Search form issues -->
      <template slot="second">
        <div id="view-issues__search">
          <view-issues-search-form
            @onSearch="handleOnSearch"
            @hideSearch="handleHideSearch">
          </view-issues-search-form>
        </div>
      </template>
    </app-toggle-layers>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixin
  import scopeMixin from '@/mixins/scopeMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Views
  import ViewScopeForm from '@/views/scope/ViewScopeForm'
  import ViewIssuesSearchForm from '@/views/issue/ViewIssuesSearchForm'
  // Components
  import AppInfo from '@/components/interface/AppInfo'
  import AppToggleLayers from '@/components/interface/AppToggleLayers'
  // Vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants

  export default {
    name: 'view-issues',
    components: { AppInfo, ViewScopeForm, ViewIssuesSearchForm, AppToggleLayers },
    mixins: [ scopeMixin, issueMixin ],
    computed: {
      ...mapGetters(VUEX_MODULES.scope, ['getScopesLite', 'getSelectedScope']),
      ...mapGetters(VUEX_MODULES.issue, ['getIssues']),
      ...mapGetters(VUEX_MODULES.user, ['getUsers'])
    },
    /**
     * LifeCycle Vue's functions
     */
    created () {
      // This is triggering after the next "tick" (tac)
      this.$nextTick(() => {
        if (!this.getScopesLite.length) {
          this.loadScopes()
        }

        if (!this.getIssues.length && this.getSelectedScope) {
          this.loadIssues(this.getSelectedScope)
        }
        // Get all users to future actions
        this.loadUsers()
      })
    },
    methods: {
      /**
       * Toggle visibility search form
       */
      toggleSearchForm () {
        this.$refs.toggleLayer.changeVisibility()
        // Move the scroll to top window
        window.scrollTo(0, 0)
      },
      /**
       * Handler to reload list issues
       * @param {String} selectedScope - selected scope
       */
      handlerChangeScope (selectedScope) {
        if (selectedScope) {
          this.loadIssues(selectedScope)
        }
      },
      /**
       * Handler to hide the search form
       */
      handleHideSearch () {
        this.toggleSearchForm()
      },
      /**
       * Handler to submit the search form
       * @param {Object} data - params to send to server
       */
      handleOnSearch (data) {
        if (this.getSelectedScope) {
          this.loadIssues(this.getSelectedScope, data)
        }
      },
      /**
       * Get the user name
       *
       * @param {Number} userId
       * @return {String} name user
       */
      getAssignedUser (userId) {
        return this.getUsers
          .filter((user) => user.id === userId)
          .reduce((nameUser, user) => {
            return `${user.name} ${user.surname}`
          }, '')
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issues {
    min-height: 100%;
    height: auto;
    // padding: $margin-md 0 unquote("calc( #{$height-menu} + #{$margin-md} )");
    padding: 0 0 $height-menu + $height-european;
    #view-issues__list {
      height: auto;
      min-height: 100%;
      padding: 0 0 $margin-md;
      .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: $margin-md;
        & > a {
          margin-bottom: $margin-md;
          color:$neutral;
          &:last-child {
            margin-bottom: 0;
          }
          .card {
            position: relative;
            &:after {
              content: '';
              top: -1px;
              right: -1px;
              position: absolute;
              border-color: transparent;
              border-style: solid;
              border-top-right-radius: 0.25rem;
              border-width: 1em;
              border-right-color: $primary-80;
              border-top-color: $primary-80;
            }
            .icon-border {
              position: absolute;
              z-index: 1;
              top: -2px;
              right: -3px;
            }
            .card-header {
              text-transform: uppercase;
              .time {
                font-size: $font-size-xs;
                line-height: $font-size-xs;
                color: $neutral-10;
                margin-bottom: $margin-sm;
              }
              .label {
                font-size: $font-size-sm;
                line-height: $font-size-sm;
                color: $neutral;
                font-weight: 700;
                margin-bottom: $margin-xs;
              }
              .order {
                font-size: $font-size-xl;
                line-height: $font-size-xl;
                margin:0;
                padding:0;
                color:$secondary;
              }
              .text {
                text-transform: initial;
                margin-top: $margin-xs;
                font-size: $font-size-md;
                line-height: $font-size-md;
              }
            }
            .card-body {
              .status {
                font-size: $font-size-md;
                line-height: $font-size-md;
                color:$primary;
                text-transform: capitalize;
              }
              .person {
                font-size: $font-size-md;
                line-height: $font-size-md;
                font-weight: bold;
                color:$neutral;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
    // Search form
    #view-issues__search {
      height: 100%;
    }

    #view-scope-form {
      text-align: center;
    }
  }
</style>
