<template>
  <div id="view-issue-form">
    <!-- Top options -->
    <div class="top-options">
      <div class="top-options__left">
        <b-button
          class="btn-circle"
          variant="light"
          @click.prevent="hideForm()">
          <img
            src="@/assets/img/icons/back_accent.svg"
            alt="Back">
        </b-button>
        <span class="info">
          <template v-if="issueData.id">
            {{ issueData.address | truncate({length: 80, removeHtml: true}) }}
          </template>
          <template v-else>
            <span class="label">
              {{ $t('view.issue.form.edit.new') }}
            </span>
          </template>
        </span>
      </div>
      <div
        v-if="issueData.id"
        class="top-options__right">
        <b-button
          class="btn-circle"
          variant="primary"
          @click.prevent="showFilesForm">
          <img
            src="@/assets/img/icons/attach_negative.svg"
            alt="Attach">
        </b-button>
      </div>
    </div>
    <b-container>
      <b-form
        @submit.prevent="onSubmit"
        novalidate>
        <!-- Nº orden -->
        <b-form-group v-if="issueData.id"
                      :label="$t('form.fields.idEntity')"
                      label-for="id">
          <b-form-input ref="id"
                        readonly
                        :value="issueData.id"
                        v-model.trim="issueData.id"
                        :state="getStatusInput('issueData.id')"
                        type="text">
          </b-form-input>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.notEmpty') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Address -->
        <b-form-group v-if="!issueData.id"
                      :label="$t('form.fields.address')"
                      label-for="address">
          <b-form-input ref="address"
                        :value="issueData.address"
                        v-model="issueData.address"
                        :state="getStatusInput('issueData.address')">
          </b-form-input>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.notEmpty') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Type -->
        <b-form-group :label="$t('form.fields.type')"
                      label-for="type">
          <b-form-select
            ref="type"
            :options="getTypesOptions"
            v-model.trim="issueData.type"
            :state="getStatusInput('issueData.type')">
          </b-form-select>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.selectOne') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- User -->
        <b-form-group :label="$t('form.fields.assignedUser')"
                      label-for="id_user">
          <b-form-select
            ref="id_user"
            :options="getUsersOptions"
            v-model.trim="issueData.id_user"
            :state="getStatusInput('issueData.id_user')">
          </b-form-select>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.selectOne') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Description -->
        <b-form-group :label="$t('form.fields.description')"
                      label-for="description">
          <b-form-textarea ref="description"
                        :value="issueData.description"
                        v-model="issueData.description"
                        :state="getStatusInput('issueData.description')">
          </b-form-textarea>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.notEmpty') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Budget -->
        <b-form-group :label="$t('form.fields.budget')"
                      :description="$t('form.info.budget')"
                      label-for="budget">
          <b-form-input ref="budget"
                        :value="issueData.budget"
                        v-model="issueData.budget"
                        :state="getStatusInput('issueData.budget')"
                        type="text">
          </b-form-input>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.decimal') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <!-- Estimated days -->
        <b-form-group :label="$t('form.fields.estimatedTime')"
                      :description="$t('form.info.estimatedTime')"
                      label-for="estimatedTime">
          <b-form-input ref="estimatedTime"
                        :value="issueData.estimated_time"
                        v-model="issueData.estimated_time"
                        :state="getStatusInput('issueData.estimated_time')"
                        type="text">
          </b-form-input>
          <b-form-invalid-feedback>
            {{ this.$t('form.validation.numeric') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <div class="actions">
          <b-button
            type="button"
            size="sm"
            variant="outline-dark"
            @click.prevent="hideForm">
            {{ $t('form.action.cancel') }}
          </b-button>
          <b-button
            type="submit"
            size="sm"
            variant="outline-primary"
            :disabled="processingForm || !isFormCompleted">
            {{ $t('form.action.save') }}
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixins
  import formMixin from '@/mixins/formMixin'
  import interfaceMixin from '@/mixins/interfaceMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Views
  import ViewIssueFilesForm from '@/views/issue/ViewIssueFilesForm'
  // Vue-validate plugin
  import { validationMixin } from 'vuelidate'
  import { required, integer, decimal } from 'vuelidate/lib/validators'
  // vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants

  export default {
    name: 'view-issue-form',
    mixins: [ validationMixin, formMixin, interfaceMixin, issueMixin ],
    props: {
      issueData: {
        type: Object,
        default: null
      }
    },
    data () {
      return {
        fieldsToSend: [
          'address',
          'budget',
          'description',
          'estimated_time',
          'id',
          'id_entity',
          'id_user',
          'position',
          'type'
        ],
        issueTypes: [],
        successForm: this.$t('view.issue.form.edit.successForm'),
        errorForm: this.$t('view.issue.form.edit.errorForm')
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.issue, ['getIssueTypes']),
      ...mapGetters(VUEX_MODULES.user, ['getUsers', 'getLoggedUser']),
      /**
       * Types available to associated to one issue
       */
      getTypesOptions () {
        const types = [
          {
            value: null,
            text: this.$t('view.issue.form.edit.selectType')
          }
        ]
        return this.getIssueTypes.reduce((sumTypes, type) => {
          sumTypes.push({
            value: type.value,
            text: type.text
          })
          return sumTypes
        }, types)
      },
      /**
       * Users available to associated to one issue
       */
      getUsersOptions () {
        const users = [
          {
            value: null,
            text: this.$t('view.issue.form.edit.selectUser')
          }
        ]
        return this.getUsers.reduce((sumUser, user) => {
          sumUser.push({
            value: user.id,
            text: user.id === this.getLoggedUser.id
              ? `${user.name} ${user.surname} (${this.$t('app.myself')})`
              : `${user.name} ${user.surname}`
          })
          return sumUser
        }, users)
      }
    },
    methods: {
      /**
       * Is triggering after the form is correctly
       * validated by "Vue-validate"
       */
      afterSubmit () {
        const parseDataToSend = this.customObject(this.issueData, this.fieldsToSend)

        // add assigned_user to object
        parseDataToSend.assigned_user = parseDataToSend.id_user
        this.saveIssue(parseDataToSend, {name: 'issues'})
      },
      /**
       * Emit event to parent component to hide this child (view)
       */
      hideForm () {
        this.$emit('hideForm')
      },
      /**
       * Show files form (add new file)
       */
      showFilesForm () {
        this.modifyModal({
          title: this.$t('view.issue.addFiles'),
          component: ViewIssueFilesForm,
          params: { id: this.issueData.id },
          showFooter: false
        }, { show: true })
      }
    },
    // Validations with Vue-validate
    validations () {
      const rules = {
        issueData: {
          type: {
            required
          },
          id_user: {
            required
          },
          description: {
            required
          },
          budget: {
            required,
            decimal
          },
          estimated_time: {
            required,
            integer
          }
        }
      }

      if (this.issueData.id) {
        rules.issueData.id = { required } // Edit issue
      } else {
        rules.issueData.address = { required } // New issue
      }

      return rules
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issue-form {
    background: $neutral-20;
    height: auto;
    padding-bottom: $height-menu + $height-european;
    form {
      padding: $margin-md 0;
    }
  }
</style>
