<template>
  <div id="view-issue-add">
    <app-toggle-layers
      ref="toggleLayer">
      <template slot="first">
        <!-- Map -->
        <div id="view-issue-add__map">
          <!-- Map component -->
          <app-map-issue
            ref="mapIssue"
            @map-load="mapLoaded"
            @map-click="toggleCross($event, false)">
          </app-map-issue>
          <!-- Cross -->
          <span
            id="cross"
            :class="{ cross: true, show: crossVisible }">
          </span>
          <div class="actions">
            <!-- Button show cross symbol -->
            <b-button
              v-if="!crossVisible"
              class="button-action"
              type="button"
              size="md"
              variant="primary"
              @click.prevent="toggleCross($event, true)">
              {{ $t('view.issueAdd.selectLocation') }}
            </b-button>
            <!-- Group buttons -->
            <b-button-group
              size="md">
              <!-- Button show formulary -->
              <b-button
                v-if="crossVisible"
                class="button-action"
                type="button"
                size="md"
                variant="primary"
                :title="$t('view.issueAdd.setLocation')"
                @click.prevent="startProcessAddIssue">
                {{ $t('view.issueAdd.setLocation') }}
              </b-button>
              <!-- Button Street view -->
              <b-button
                v-if="crossVisible"
                class="button-action"
                type="button"
                size="md"
                variant="secondary"
                :title="$t('view.issueAdd.seeAround')"
                @click.prevent="openStreetView">
                {{ $t('view.issueAdd.seeAround') }}
              </b-button>
              <!-- Button cancel formulary -->
              <b-button
                v-if="crossVisible"
                class="button-action"
                type="button"
                size="md"
                variant="danger"
                :title="$t('view.issueAdd.cancel')"
                @click.prevent="toggleCross($event, false)">
                {{ $t('view.issueAdd.cancel') }}
              </b-button>
            </b-button-group>
          </div>
        </div>
      </template>
      <template slot="second">
        <!-- Form -->
        <div id="view-issue-add__form">
          <view-issue-form
            :issueData="issueData"
            @hideForm="toggleIssueForm">
          </view-issue-form>
        </div>
      </template>
    </app-toggle-layers>
  </div>
</template>

<script>
  // Components
  import AppMapIssue from '@/components/map/AppMapIssue'
  import AppToggleLayers from '@/components/interface/AppToggleLayers'
  // View
  import ViewIssueForm from '@/views/issue/ViewIssueForm'
  // Mixins
  import issueMixin from '@/mixins/issueMixin'
  import mapMixin from '@/mixins/mapMixin'
  // Utils
  import utils from '@/lib/utils'

  const { goToStreetView } = utils

  export default {
    name: 'view-issue-add',
    mixins: [ issueMixin, mapMixin ],
    components: { AppMapIssue, ViewIssueForm, AppToggleLayers },
    data () {
      return {
        crossVisible: false,
        issueData: {
          // This two values are neccesary for "b-form-select"
          // puts the default value in the select
          id_user: null,
          type: null
        }
      }
    },
    methods: {
      /**
       * Triggered after map is loaded
       */
      mapLoaded (map) {
        // Get the position user
        this.getUserLocation()
          .then((coordinates) => {
            // Center the map
            map.flyTo({ center: [coordinates.longitude, coordinates.latitude] })
          })
          .catch((error) => {
            // Show error localization
            this.showAlert({
              content: error,
              variant: 'danger'
            })
          })
      },
      /**
       * Start process to add new issue
       */
      startProcessAddIssue () {
        const coords = this.$refs.mapIssue.getCenterMap()
        if (coords) {
          this.showLoadingLayer({ show: true })
          this.getAddressByCoordinatesApi({ position: [ coords.lat, coords.lng ] })
            .then((response) => {
              // Pass coordinates and address to formulary
              this.$set(this.issueData, 'address', response.data || '') // Adds a property to a reactive object
              this.$set(this.issueData, 'position', [ coords.lng, coords.lat ])
            })
            .finally(() => {
              this.showLoadingLayer({ show: false })
              this.toggleIssueForm()
            })
        }
      },
      /**
       * Toggle visibility issue form
       */
      toggleIssueForm () {
        this.$refs.toggleLayer.changeVisibility()
        // Move the scroll to top window
        window.scrollTo(0, 0)
      },
      /**
       * Toggle cross symbol
       *
       * @param {Object} event event
       * @param {Boolean} show show or hide cross
       */
      toggleCross (event, show) {
        const currentShow = typeof show === 'undefined'
          ? !this.crossVisible
          : show

        if (currentShow === true) {
          this.removeAnyPopUp()
        }

        this.crossVisible = currentShow
      },
      /**
       * Remove any popup from map - This solution is not the best :S
       */
      removeAnyPopUp () {
        const currentPopUp = document.querySelector('.mapboxgl-popup')
        if (currentPopUp) {
          currentPopUp.parentNode.removeChild(currentPopUp)
        }
      },
      /**
       * Open Street View
       */
      openStreetView () {
        const coords = this.$refs.mapIssue.getCenterMap()
        goToStreetView(coords.lat, coords.lng)
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-issue-add {
    height: 100%;
    position: relative;
    // Map
    #view-issue-add__map {
      height: 100%;
      #cross {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin-top: -0.625rem;
        margin-left: -0.625rem;
        display: none;
        &.show {
          display: block;
        }
      }
      .actions {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 2rem;
        width: 100%;
        padding: 0 $padding-md;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .btn {
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        }
      }
      #app-map-issue {
        .toggle-3d {
          bottom: 90px;
        }
      }
    }
    // Form
    #view-issue-add__form {
      height: 100%;
    }
  }
</style>
