<template>
  <div id="app-header">
    <!-- Header -->
    <div id="header-brand">
      <div class="brand">
        <img
          src="@/assets/img/aquasig_logo.svg"
          class="logo"
          alt="Aquasig">
        <span class="sub">
          {{ $t('app.label.brand') }}
        </span>
      </div>
      <div
        v-if="showMenu && isUserLogged"
        @click="toggleMenu"
        class="menu-icon">
        <img src="@/assets/img/icons/menu_negative.svg">
      </div>
    </div>
    <!-- Side-menu -->
    <div
      id="header-menu"
      :class="{ 'open': isMenuOpen }">
      <!-- Transparent layout -->
      <div
        class="layout-menu"
        @click="toggleMenu"></div>
      <!-- Content side-menu -->
      <div class="menu">
        <!-- User data -->
        <div class="profile mt-3">
          <div class="icon">
            <img
              src="@/assets/img/icons/user_negative.svg"
              alt="Aquí va el nombre">
          </div>
          <span class="name mb-1">
            {{ getLoggedUser.name }} {{ getLoggedUser.surname }}
          </span>
          <span class="email">{{ getLoggedUser.email }}</span>
          <!-- Scopes -->
          <div class="wrapper-scope-form">
            <view-scope-form
              :classStyle="'dark'"
              @change="handlerChangeScope"
            ></view-scope-form>
          </div>
        </div>
        <!-- Actions from bottom side-menu -->
        <div class="actions">
          <b-button
            type="button"
            size="sm"
            variant="outline-primary"
            block
            @click="handlerCloseSession"
            >
            <span class="inline-block">
              {{ $t('action.user.closeSession') }}
            </span>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixins
  import interfaceMixin from '@/mixins/interfaceMixin'
  import issueMixin from '@/mixins/issueMixin'
  // Views
  import ViewScopeForm from '@/views/scope/ViewScopeForm'
  // Vuex
  import { mapGetters } from 'vuex'

  const { VUEX_MODULES } = constants

  export default {
    name: 'app-header',
    mixins: [ interfaceMixin, issueMixin ],
    components: { ViewScopeForm },
    data () {
      return {
        isMenuOpen: false
      }
    },
    props: {
      showMenu: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.user, ['isUserLogged', 'getLoggedUser']),
      ...mapGetters(VUEX_MODULES.scope, ['getScopesLite']),
      /**
       * Parse list scopes to use into component select
       */
      parseScopesLite: function () {
        return this.getScopesLite.map((scope) => {
          return {
            value: scope.id,
            text: scope.name
          }
        })
      }
    },
    methods: {
      /**
       * Toggle side menu
       */
      toggleMenu () {
        this.isMenuOpen = !this.isMenuOpen
      },
      /**
       * Handler event when scope is changed
       *
       * @param {String} selectedScope - selected scope
       */
      handlerChangeScope (selectedScope) {
        if (selectedScope) {
          // Reload issues
          this.loadIssues(selectedScope)
          // go back to issues
          if (this.$route.name !== 'issues') {
            this.$router.push({ name: 'issues' })
          }
          // Close menu
          this.toggleMenu()
        }
      },
      /**
       * Handler event when the "close session" button is clicked
       */
      handlerCloseSession () {
        this.toggleMenu()
        this.closeSession()
        this.$router.push({ name: 'login' })
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #header-brand {
    position: fixed;
    top:0;
    left:0;
    background: $primary;
    color: $white;
    height: $height-menu;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 5;
    .brand{
      display: flex;
      flex: 1 1 auto;
      padding:0 $margin-md;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .logo {
        height: 17px;
        width: auto;
        margin: 0 0 0.25rem;
      }
      .sub {
        text-transform: uppercase;
        font-size: $font-size-sm;
      }
    }
    .menu-icon {
      cursor: pointer;
      display: flex;
      flex: 0 0 3.75rem;
      height: 100%;
      border-left: 1px solid $white;
      justify-content: center;
      padding: $padding-sm;
      img {
        width: 100%;
        height: auto;
        max-width: 20px;
      }
    }
  }
  #header-menu {
    .layout-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      background: rgba(0, 0, 0, 0.2);
      display: none;
    }
    .menu {
      position: fixed;
      top: 0;
      right: -$side-menu-width;
      width: $side-menu-width;
      height: 100%;
      z-index: 5;
      background: $white;
      transition: all $time-transition;
      padding: $padding-sm;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: $primary;
          padding: $padding-xxs;
          margin-bottom: $margin-sm;
          img {
            width: 100%;
          }
        }
        .name {
          text-transform: uppercase;
          color: $neutral;
          font-size: $font-size-md;
          font-weight: 700;
          text-align: center;
        }
        .email {
          font-size: $font-size-sm;
          color: $primary;
          text-align: center;
        }
        .wrapper-scope-form {
          width:100%;
          text-align: center;
          border-top: 1px solid $neutral-10;
          margin-top: $margin-md;
          padding-top: $margin-md;
        }
      }
    }
    &.open {
      .layout-menu {
        display: block;
      }
      .menu {
        right: 0;
      }
    }
  }
</style>
