<template>
  <div id="app-info">
    <h3 class="title">{{ title }}</h3>
    <div 
      class="text"
      v-html="text">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app-info',
    props: {
      title: {
        type: String,
        default: function () {
          // At this point "$t" still doesn't available
          return this.$i18n.t('app.info.title')
        }
      },
      text: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-md;
    .title{
      font-size: $font-size-xl;
      line-height: $font-size-xl;
      font-weight: 700;
      color: $secondary;
      text-transform: uppercase;
      margin: 0 0 $margin-sm;
    }
    .text {
      text-align: center;
      font-size: $font-size-lg;
      line-height: $font-size-xl;
    }
  }
</style>
