<template>
  <div>
    <div
      :id="id"
      :class="{ 'loading-layer': true, 'd-none': !getShow }">
      <div class="icon">
        <img
          src="@/assets/img/icons/loading.svg"
          class="logo"
          alt="Loading">
      </div>
      <div 
        v-if="getText"
        class="text">
        {{ getText }}
      </div>
    </div>
  </div>
</template>

<script>
  import actionsName from '@/store/modules/loadingLayer/actionsName'
  import constants from '@/constants'

  const { UPDATE_LOADING_LAYER_RESET_MODEL } = actionsName
  const { VUEX_MODULES } = constants

  export default {
    name: 'app-loading-layer',
    props: {
      id: {
        type: String,
        default: ''
      },
      params: {
        type: Object,
        default: {}
      }
    },
    computed: {
      getShow () {
        return this.params.show
      },
      getText () {
        return this.params.text
      }
    },
    methods: {
      resetLoadingLayer () {
        this.$store.dispatch(`${VUEX_MODULES.loadingLayer}/${UPDATE_LOADING_LAYER_RESET_MODEL}`)
      }
    },
    watch: {
      'params.show': function (newValue) {
        if (newValue === false) {
          this.resetLoadingLayer()
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  .loading-layer {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1000;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icon {
      color: $primary;
    }
    .text {
      font-size: $font-size-xl;
    }
  }
</style>
