<template>
  <div id="nav">
    <b-nav>
      <b-nav-item
        active
        :to="'/issues'">
        <img
          src="@/assets/img/icons/issues_negative.svg"
          class="icon">
        <span class="text">
          {{ $t('app.nav.issues') }}
        </span>
      </b-nav-item>
      <b-nav-item
        :to="'/issue-add'">
        <img
          src="@/assets/img/icons/add_negative.svg"
          class="icon"
          alt="Aquasig">
        <span class="text">
          {{ $t('app.nav.new') }}
        </span>
      </b-nav-item>
      <b-nav-item
        :to="'/explore'">
        <img
          src="@/assets/img/icons/explore_negative.svg"
          class="icon"
          alt="Aquasig">
        <span class="text">
          {{ $t('app.nav.explore') }}
        </span>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
  export default {
    name: 'app-menu'
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #nav {
    position: fixed;
    bottom: $height-european;
    left: 0;
    background: $primary;
    color: $white;
    height: $height-menu;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    ul {
      width: 100%;
      .nav-item {
        flex: 1 1 auto;
        & > a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-top:2px solid $primary;
          background: $secondary;
          .icon {
            margin-bottom: $margin-xxs;
            opacity: 0.5;
            height: 25px;
            color: $white;
          }
          .text {
            opacity: 0.5;
            font-size: $font-size-md;
            color: $white;
          }
          &.router-link-active {
            background: $primary;
            .icon {
              opacity: 1;
            }
            .text {
              opacity: 1;
            }
          }
        }
      }
    }
  }
</style>
