<template>
  <div>
    <b-modal
      :id="id"
      :title="getTitle"
      :modalClass="getClassName"
      @ok="getActionButtonOk"
      @hidden="resetModal">
      <component
        v-if="getComponent"
        :params="getParams"
        :is="getComponent">
      </component>
      <template
        v-if="getContent && !getComponent">
        {{ getContent }}
      </template>
    </b-modal>
  </div>
</template>

<script>
  import actionsName from '@/store/modules/modal/actionsName'
  import constants from '@/constants'

  const { UPDATE_MODAL_RESET_MODEL } = actionsName
  const { VUEX_MODULES } = constants

  export default {
    name: 'app-modal',
    created () {
      this.resetModal()
    },
    computed: {
      getActionButtonOk () {
        return typeof this.params.actionButtonOK === 'function' && this.params.actionButtonOK
      },
      getClassName () {
        const showHeader = !this.params.showHeader
          ? 'hide-header'
          : ''
        const showFooter = !this.params.showFooter
          ? 'hide-footer'
          : ''
        const className = this.params.className
          ? this.params.className
          : ''
        return [showHeader, showFooter, className]
      },
      getComponent () {
        return this.params.component
      },
      getContent () {
        return this.params.content
      },
      getParams () {
        return this.params.params
      },
      getTitle () {
        return this.params.title
      }
    },
    methods: {
      /**
       * Reset parameters modal
       */
      resetModal () {
        this.$store.dispatch(`${VUEX_MODULES.modal}/${UPDATE_MODAL_RESET_MODEL}`)
      }
    },
    props: {
      id: {
        type: String,
        default: ''
      },
      params: {
        type: Object,
        default: {}
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  .hide-header {
    &.modal {
      .modal-dialog {
        .modal-header {
          display: none;
        }
      }
    }
  }
  .hide-footer {
    &.modal {
      .modal-dialog {
        .modal-footer {
          display: none;
        }
      }
    }
  }
</style>
