<template>
  <div
    id="toggle-layers"
    ref="toggleLayers">
    <div>
      <slot name="first"></slot>
    </div>
    <div class="d-none move-away">
      <slot name="second"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app-toggle-layers',
    data () {
      return {
        isVisibleFirstLayer: true
      }
    },
    methods: {
      /**
       * Change visibility between layers
       */
      changeVisibility () {
        const firstChild = this.$refs.toggleLayers.firstChild
        const lastChild = this.$refs.toggleLayers.lastChild

        this.isVisibleFirstLayer = !this.isVisibleFirstLayer

        if (this.isVisibleFirstLayer) {
          lastChild.classList.toggle('move-away')
          firstChild.classList.toggle('d-none')
          setTimeout(() => {
            lastChild.classList.toggle('d-none')
            firstChild.classList.toggle('move-away')
          }, 10)
        } else {
          firstChild.classList.toggle('move-away')
          lastChild.classList.toggle('d-none')
          setTimeout(() => {
            firstChild.classList.toggle('d-none')
            lastChild.classList.toggle('move-away')
          }, 10)
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #toggle-layers {
    height: 100%;
    &> div{
      position: relative;
      width: 100%;
      height: 100%;
      transition: top $time-transition ease;
      top:0;
      left:0;
      &.move-away {
        top: 1000px;
      }
    }
  }
</style>
