/***
 COLOR PALETTE
***/
$accent: #64b6d9;
$complementary: #FF9908;
$neutral: #808086;
$neutral-10: #DDD;
$neutral-20: #EEE;
$primary: #6EBAFF;
$primary-80: #8BC7FF;
$primary-60: #A8D5FF;
$primary-40: #C5E3FF;
$secondary: #165288;
$secondary-80: #44749f;
$secondary-60: #6496c2;
$secondary-40: #85b4dd;
$white: #FFF;
$danger: #FB4C62;
$success: #83ce44;

/***
 FONTS
***/
$font-main: 'Source Sans Pro', sans-serif;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.2rem;
$font-size-lg: 1rem;
$font-size-md: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.7rem;

/***
 SIZES
***/
$height-menu: 3.75rem;
$height-alert: 3.125rem;
$height-uploader: 7rem;
$height-european: 3rem;
$height-thumb: 5rem;
$margin-md: 1.25rem;
$margin-sm: 0.625rem;
$margin-xs: 0.5rem;
$margin-xxs: 0.25rem;
$padding-md: 1.5rem;
$padding-sm: 0.75rem;
$padding-xs: 0.5rem;
$padding-xxs: 0.25rem;
$height-form-input: 2.5rem;
$height-form-textarea: 8rem;
$side-menu-width: 200px;

/***
 OTHERS
***/
$radius-size: 0.15rem;
$time-transition: 0.4s;

/***
 ELEMENTS HTML
***/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background:$neutral-20;
  color: $neutral;
  font-size: $font-size-md;
  line-height: $font-size-md;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: $primary;
}

/***
 OVERRIDE STYLES BOOTSTRAP
***/

/* Card */
.card {
  border-color: transparent;
  border-radius: 0.25rem;
  .card-header {
    background: $white;
    padding: $padding-sm;
    display: flex;
    flex-direction: column;
    .title {
      margin: 0;
      padding: 0;
      font-size: $font-size-md;
      line-height: $font-size-md;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .card-body {
    padding: $padding-sm;
    .table,
    table {
      margin-bottom: 0;
      thead {
        th,
        td {
          font-size: $font-size-sm;
          line-height: $font-size-sm;
          text-transform: uppercase;
          font-weight: 700;
          padding: $padding-sm 0;
          border-top: 0;
          border-bottom: 1px solid $neutral-10;
        }
      }
      tbody {
        td {
          font-size: $font-size-md;
          line-height: $font-size-md;
          padding: $padding-sm 0;
          &.table-bold {
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* Formularies */
.form-group {
  label,
  .col-form-label {
    color: $neutral;
    font-weight: 700;
    text-transform: uppercase;
    font-size: $font-size-sm;
  }
  input,
  select,
  textarea {
    &.form-control {
      border:0;
      height: $height-form-input;
      padding: $padding-xs $padding-xs;
      font-size: $font-size-lg;
      line-height: $font-size-lg;
      color: $neutral;
      border-radius: $radius-size;
      &disabled,
      &[readonly] {
        background-color: $neutral-20;
        border: 0;
        box-shadow: none;
      }
    }
  }
  textarea {
    &.form-control {
      height: $height-form-textarea;
      resize: none;
    }
  }
  .invalid-feedback {
    font-size: $font-size-sm;
  }
}

form {
  &.dark {
    .form-control {
      background-color: $neutral-20;
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      min-width: 120px;
    }
  }
}

/* Buttons */
.btn {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-sm {
  line-height: 1.5rem;
  font-size: $font-size-sm;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $primary;
    border-color: $primary-80;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $primary-60;
  }
  &:disabled,
  &.disabled {
    background-color: $primary-60;
    border-color: $primary-40;
  }
}

a.btn-primary,
a.btn-primary:hover,
a.btn-primary:focus {
  color: $white;
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $secondary;
    border-color: $secondary-80;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $secondary-80;
  }
  &:disabled,
  &.disabled {
    background-color: $secondary-60;
    border-color: $secondary-40;
  }
}

.btn-dark {
  background-color: $neutral;
  border-color: $neutral;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $neutral;
    border-color: $neutral-10;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $neutral-20;
  }
  &:disabled,
  &.disabled {
    background-color: $neutral-10;
    border-color: $neutral-20;
  }
}

.btn-light {
  background-color: transparent;
  border-color: transparent;
  color: $neutral;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: transparent;
    border-color: transparent;
    color: $neutral;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem transparent;
  }
  &:disabled,
  &.disabled {
    background-color: transparent;
    border-color: transparent;
    color: $neutral-10;
  }
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;
  border-width: 2px;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $primary-60;
  }
  &:disabled,
  &.disabled {
    color: $primary-40;
  }
}

.btn-outline-secondary {
  color: $secondary;
  border-color: $secondary;
  border-width: 2px;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $secondary-60;
  }
  &:disabled,
  &.disabled {
    color: $secondary-40;
  }
}

.btn-outline-dark {
  color: $neutral;
  border-color: $neutral;
  border-width: 2px;
  &:hover,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $white;
    background-color: $neutral;
    border-color: $neutral;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem $neutral-10;
  }
  &:disabled,
  &.disabled {
    color: $neutral-20;
  }
}

/* Alert */
.alert {
  height: $height-alert;
  border: 0;
  border-radius: 0;
  padding: $padding-sm;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  top: $height-menu;
  left: 0;
  width: 100%;
  &.alert-danger {
    background: $danger;
    color: $white;
  }
  &.dark {
    background: $neutral-10;
    color: $white;
  }
}

/* Modal */
.modal {
  .modal-dialog {
    .modal-content {
      border: 0;
      border-radius: 0;
      .modal-header {
        background: $primary;
        color: $white;
        border-bottom: none;
        border-radius: 0;
        height: $height-alert;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 $margin-md;
        align-items: center;
        .modal-title {
          text-transform: uppercase;
          font-size: $font-size-lg;
          line-height: $font-size-lg;
        }
      }
      .modal-footer {
        padding: $padding-xs;
      }
    }
  }
}

/* Pop up */
.mapboxgl-popup-close-button {
  font-size: $font-size-xxl;
  color: $neutral;
  top: 5px;
}

/***
 CUSTOM STYLES
***/

/* Top otions - Detail view */
.top-options {
  height: $height-alert;
  background-color: $neutral-10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $margin-sm;
  .top-options__left,
  .top-options__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .top-options__left {
    justify-content: flex-start;
    .label {
      color:$secondary;
      padding-left: $padding-sm;
      font-weight: 400;
    }
    .info {
      color: $neutral;
      padding-left: $padding-sm;
      max-width: 200px;
    }
  }
  .top-options__right {
    justify-content: flex-end;
    .btn {
      margin-left: $margin-sm;
      &:first-child {
        margin-left: 0;
      }
      img {
        max-width: 20px;
      }
    }
  }
}

/* Uploader files */
.upload-file {
  position: relative;
  overflow: hidden;
  height: $height-uploader;
  &> label {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: $height-uploader;
    line-height: $height-uploader;
    border: 2px dashed $neutral-10;
    text-align: center;
    color: $neutral;
  }
  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $height-uploader;
    font-size: 100px;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
  }
  .invalid {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 90%;
    margin-left: 15px;
    text-align: center;
    color: $danger;
  }
}

/* Buttons */
.btn-circle {
  padding: 0.5rem;
  line-height: 1px;
  border-radius: 50%;
  img {
    width: 100%;
  }
}

/* Label */
.label {
  text-transform: uppercase;
  color: $neutral;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: $font-size-md;
  line-height: $font-size-md;
}

/* Modal */
.modal-full-screen {
  .modal {
    .modal-dialog {
      margin: 0;
      min-height: 100vh;
      .modal-body {
        min-height: 100vh;
      }
    }
  }
}

/* Cross */
.cross {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Safari and Chrome */
}

.cross:before, #cross:after {
  content: " ";
  position: absolute;
  z-index: -1;
  background: rgba(255, 153, 8, 1); //complementary
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.cross:before {
  left: 50%;
  width: 15%;
  margin-left: -7.5%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 15%;
  margin-top: -7.5%;
  width: 100%;
}