<template>
  <div id="view-apk-download">
    <app-info
      :text="$t('app.downloadApk')">
    </app-info>
    <a 
      ref="linkDownload"
      href="/static/apk/app-release.apk">
    </a>
  </div>
</template>

<script>
  // Components
  import AppInfo from '@/components/interface/AppInfo'

  export default {
    name: 'view-apk-download',
    components: { AppInfo },
    /**
     * LifeCycle Vue's functions
     */
    created () {
      // This is triggering after the next "tick" (tac)
      this.$nextTick(() => {
        this.downloadApk()
      })
    },
    methods: {
      /**
       * Toggle visibility search form
       */
      downloadApk () {
        this.$refs.linkDownload.click()
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-apk-download {
    height: 100%;
    padding: $height-menu 0;
  }
</style>
