<template>
  <div id="view-login">
    <b-form
      @submit.prevent="onSubmit"
      class="dark"
      novalidate>
      <b-card no-body>
        <b-card-header>
          <h3 class="title">
            {{ $t('view.user.login.title') }}
          </h3>
        </b-card-header>
        <b-card-body>
          <!-- Email field -->
          <b-form-group :label="$t('form.fields.email')"
                        label-for="email">
            <b-form-input ref="email"
                          v-model.trim="$v.email.$model"
                          :state="getStatusInput('email')"
                          @click.native="touchField('email')"
                          type="email"
                          :placeholder="$t('form.fields.email')">
            </b-form-input>
            <b-form-invalid-feedback>
              {{ $t('form.validation.format') }}
            </b-form-invalid-feedback>
          </b-form-group>
          <!-- Password field -->
          <b-form-group :label="$t('form.fields.password')"
                        label-for="password">
            <b-form-input ref="password"
                          v-model.trim="$v.password.$model"
                          :state="getStatusInput('password')"
                          type="password"
                          :placeholder="$t('form.fields.password')">
            </b-form-input>
            <b-form-invalid-feedback>
              {{ $t('form.validation.notEmpty') }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-button
            type="submit"
            variant="primary"
            block
            :disabled="processingForm || !isFormCompleted">
            {{ $t('form.action.login') }}
          </b-button>
        </b-card-body>
      </b-card>
    </b-form>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Mixins
  import userMixin from '@/mixins/userMixin'
  import formMixin from '@/mixins/formMixin'
  import interfaceMixin from '@/mixins/interfaceMixin'
  // Vue-validate plugin
  import { validationMixin } from 'vuelidate'
  import { required, email } from 'vuelidate/lib/validators'
  // Vuex
  import actionsName from '@/store/actionsName'
  import scopeActionsName from '@/store/modules/scope/actionsName'
  import { mapGetters } from 'vuex'

  const { UPDATE_REFERER_URL, UPDATE_TOKEN } = actionsName
  const { INIT_APP } = constants
  const get = require('lodash.get')

  const { VUEX_MODULES } = constants
  const { UPDATE_SCOPE_SELECTED } = scopeActionsName

  export default {
    name: 'view-login',
    mixins: [ validationMixin, userMixin, formMixin, interfaceMixin ],
    data () {
      return {
        email: null,
        password: null,
        errorForm: this.$t('view.user.login.errorForm')
      }
    },
    mounted () {
      // This is triggering after the next "tick" (tac)
      this.$nextTick(() => {
        // We get the scope from URL
        if (this.$route.params && this.$route.params.scope) {
          this.$store.dispatch(
            `${VUEX_MODULES.scope}/${UPDATE_SCOPE_SELECTED}`,
            this.$route.params.scope
          )
        }
      })
    },
    computed: {
      ...mapGetters(['getRefererURL'])
    },
    methods: {
      /**
       * Is triggering after the form is correctly
       * validated by "Vue-validate"
       */
      afterSubmit () {
        this.showLoadingLayer({ show: true })
        this.loginUser(this.email, this.password)
          .then((response) => {
            if (get(response, 'data.token', false) !== false) {
              const token = {
                value: get(response, 'data.token', ''),
                expires: get(response, 'data.expires', '')
              }
              const user = get(response, 'data.user', {})
              const redirectUrl = this.getRefererURL || { path: `/${INIT_APP}` }

              // Save data in Vuex
              this.setUserData(user)
              this.$store.dispatch(UPDATE_TOKEN, token)
              this.$store.dispatch(UPDATE_REFERER_URL, {})
              // Redirect to INIT APP
              this.$router.push(redirectUrl)
            }
          })
          .catch((response) => {
            // Show error
            this.showAlert({
              content: get(response, 'data.message', this.errorForm),
              variant: 'danger'
            })
          })
          .finally(() => {
            this.processingForm = false
            this.showLoadingLayer({ show: false })
          })
      }
    },
    // Validations with Vue-validate
    validations: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #view-login {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    form {
      padding-top: $height-menu;
      width: 100%;
      max-width: 280px;
      .card {
        .card-header {
          .title {
            text-align: center;
          }
        }
      }
    }
  }
</style>
