<template>
  <div 
    :id="appId"
    :class="currentView">
    <!-- Layouts (Login or Main) -->
    <component
        v-if="getLayout"
        :is="getLayout">
    </component>
    <!-- App Alert -->
    <app-alert
      :id="appMainAlertId"
      :params="getAlert">
    </app-alert>
    <!-- App Modal -->
    <app-modal 
      :id="appMainModalId"
      :params="getModal">
    </app-modal>
    <!-- App Loading Layer -->
    <app-loading-layer
      :id="appMainLoadingId"
      :params="getLoadingLayer">
    </app-loading-layer>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // View & layouts
  import LayoutLogin from '@/views/layouts/LayoutLogin'
  import LayoutMain from '@/views/layouts/LayoutMain'
  import AppAlert from '@/components/interface/AppAlert'
  import AppModal from '@/components/interface/AppModal'
  import AppLoadingLayer from '@/components/interface/AppLoadingLayer'
  // Mixin
  import interfaceMixin from '@/mixins/interfaceMixin'
  // Vuex
  import { mapGetters } from 'vuex'

  const {
    APP_ID,
    APP_MAIN_ALERT_ID,
    APP_MAIN_MODAL_ID,
    APP_MAIN_LOADING_ID,
    VUEX_MODULES,
    LOGIN_PATH
  } = constants

  export default {
    name: 'app',
    mixins: [ interfaceMixin ],
    data () {
      return {
        appId: APP_ID,
        appMainAlertId: APP_MAIN_ALERT_ID,
        appMainModalId: APP_MAIN_MODAL_ID,
        appMainLoadingId: APP_MAIN_LOADING_ID,
        currentView: 'init',
        errorRequest: this.$t('action.error.server')
      }
    },
    components: { AppAlert, AppModal, AppLoadingLayer },
    computed: {
      ...mapGetters(VUEX_MODULES.alert, ['getAlert']),
      ...mapGetters(VUEX_MODULES.modal, ['getModal']),
      ...mapGetters(VUEX_MODULES.loadingLayer, ['getLoadingLayer']),
      ...mapGetters(VUEX_MODULES.user, ['isUserLogged']),
      /**
       * Get the app layout
       *
       * @return {Object} - component layout
       */
      getLayout () {
        return this.isUserLogged ? LayoutMain : LayoutLogin
      }
    },
    watch: {
      // eslint-disable-next-line
      '$route'(to) {
        this.currentView = to.name

        // Always that we can access to "login view"
        // we clean the session
        if (to.name === LOGIN_PATH) {
          this.cleanSession()
        }
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #app {
    background: $neutral-20;
    width: 100%;
    height: 100%;
  }
</style>