<template>
  <div id="app-map-issue">
    <mapbox
      ref="mapBox"
      :access-token="mapboxToken"
      :map-options="getMapOptions"
      :geolocate-control="geolocateControl"
      @map-load="mapLoaded"
      @map-click="mapClicked"
      @geolocate-error="geolocateError"
    ></mapbox>
    <!-- 3D -->
    <div
      @click="toggle3D"
      :class="{'toggle-3d': true, 'active': is3DActive }">
    </div>
  </div>
</template>

<script>
  // Vue
  import Vue from 'vue'
  // Constants
  import constants from '@/constants'
  // Components
  import Mapbox from 'mapbox-gl-vue'
  import AppPopupContent from '@/components/map/AppPopupContent.vue'
  // Mixins
  import interfaceMixin from '@/mixins/interfaceMixin'
  import mapMixin from '@/mixins/mapMixin'
  // Vuex
  import { mapGetters } from 'vuex'
  // Mapbox
  import * as positron from '@static/map/positron.json'
  // Utils
  import utils from '@/lib/utils'

  const { VUEX_MODULES } = constants
  const MAPBOX_TOKEN = process.env.MAPBOX_TOKEN
  const mapboxgl = require('mapbox-gl')
  const { dateFormatToLocale } = utils
  const set = require('lodash.set')
  const get = require('lodash.get')

  export default {
    name: 'app-map-issue',
    components: { Mapbox },
    mixins: [ interfaceMixin, mapMixin ],
    props: {
      mapOptions: {
        type: Object,
        default: () => {
          return {}
        }
      }
    },
    data () {
      return {
        closedStatus: 'closed',
        geolocateControl: {
          show: true,
          position: 'top-left'
        },
        errorData: this.$t('action.error.default'),
        idConnectionsSource: 'connections_source',
        idConnectionsLayerCircle: 'connections_circle',
        idConnectionsLayerSymbol: 'connections_symbol',
        idHydrantPointsSource: 'hydrant_points_source',
        idHydrantPointsLayerCircle: 'hydrant_points_circle',
        idHydrantPointsLayerSymbol: 'hydrant_points_symbol',
        idIssuesSource: 'issues_source',
        idIssuesLayerCircle: 'issues_circle',
        idIssuesLayerSymbol: 'issues_symbol',
        idPlotsSource: 'plots_source',
        idPlotsLayerArea: 'plots_area',
        idPlotsLayerLine: 'plots_line',
        idPlotsLayerBuilding: 'plots_building',
        idSectorsSource: 'sectors_source',
        idSectorsLayerArea: 'sectors_area',
        idSectorsLayerLine: 'sectors_line',
        idSensorsSource: 'sensors_source',
        idSensorsLayerCircle: 'sensors_circle',
        idSensorsLayerSymbol: 'sensors_symbol',
        idSupplyLinesSource: 'supply_lines_source',
        idSupplyLinesLayer: 'supply_lines_layer',
        idSupplyLinesLayer2: 'supply_lines_layer2',
        idTanksSource: 'tanks_source',
        idTanksLayerCircle: 'tanks_circle',
        idTanksLayerSymbol: 'tanks_symbol',
        idValvePointsSource: 'valve_points_source',
        idValvePoinstLayerCircle: 'valve_points_circle',
        idValvePoinstLayerSymbol: 'valve_points_symbol',
        idWellPointsSource: 'well_points_source',
        idWellPointsLayerCircle: 'well_points_circle',
        idWellPointsLayerSymbol: 'well_points_symbol',
        is3DActive: false,
        mapboxToken: MAPBOX_TOKEN,
        PopupContent: Vue.extend(AppPopupContent)
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.issue, ['getIssues']),
      ...mapGetters(VUEX_MODULES.scope, ['getScopes', 'getSelectedScope']),
      /**
       * Merge the "default options" with the "user options"
       *
       * @return {Object} - map options
       */
      getMapOptions () {
        // Add sprite (icons) to styles before map is loaded
        positron.sprite = `${window.location.origin}/static/map/aquasig-sprite`

        const defaultMapOptions = Object.assign(this.getScopePosition, { style: positron })

        return Object.assign(defaultMapOptions, this.mapOptions)
      },
      /**
       * Get metadata scope for position
       *
       * @return {Object} - map options for current scope
       */
      getScopePosition () {
        const scopePosition = this.getScopes.reduce((currentScope, scope) => {
          if (scope.id === this.getSelectedScope) {
            currentScope = {
              zoom: scope.zoom,
              center: [scope.location[1], scope.location[0]]
            }
          }
          return currentScope
        }, {})

        const defaultPosition = {
          center: [-3.703790, 40.416775], // Madrid (default position)
          zoom: 9
        }

        return Object.assign(defaultPosition, scopePosition)
      }
    },
    methods: {
      /**
       * Triggered after map Loaded
       *
       * @param {Object} map - currently map
       */
      mapLoaded (map) {
        this.showLoadingLayer({ show: true })
        // Add all consumption data
        this.getAllMapData()
          .then((data) => {
            this.drawDataInMap(data, map)
          })
          .finally(() => {
            this.showLoadingLayer({ show: false })
            this.$emit('map-load', map)
          })
      },
      /**
       * Triggered after click on map
       *
       * @param {Object} map - currently map
       * @param {Object} e - triggered event
       */
      mapClicked (map, e) {
        this.showInfoPopUp(map, e)
        this.$emit('map-click', map, e)
      },
      /**
       * Draw into the map every source and layer
       */
      drawDataInMap (data, map) {
        data.forEach((currentData) => {
          // Add source
          if (currentData.source) {
            map.addSource(currentData.source.id, {
              type: currentData.source.type,
              data: currentData.source.data
            })
          }
          // Add layers
          if (Array.isArray(currentData.layers)) {
            currentData.layers.forEach((currentLayer) => {
              map.addLayer(currentLayer)
            })
          }
        })
      },
      /**
       * Show errow with geolocate user
       */
      geolocateError (geolocate, position) {
        this.showAlert({
          content: this.errorPosition,
          variant: 'danger'
        })
        this.$emit('geolocate-error', geolocate, position)
      },
      /**
       * Get coordinates from center map
       * @return {Object | Boolean} - coordinates
       */
      getCenterMap () {
        return this.$refs.mapBox._map.getCenter()
      },
      /**
       * Change the map visibility to 3D
       */
      toggle3D () {
        this.is3DActive = !this.is3DActive
        // changes in map and layers
        this.$refs.mapBox._map.setPitch(this.is3DActive ? 50 : 0)
        this.$refs.mapBox._map.setLayoutProperty(
          this.idPlotsLayerBuilding,
          'visibility',
          this.is3DActive ? 'visible' : 'none'
        )
      },

      /**
       *******************************************
       *
       * AT THIS POINT BEGIN ALL FUNCTIONS TO
       * GET INFORMATION ABOUT THE MAP
       *
       ********************************************
       */

      /**
       * Get the all layers to load in the map
       *
       * @return {Promise}
       */
      getAllMapData () {
        // The order is important because the lasts layers
        // will be over the initials layers
        const consumptionPromises = [
          this.getSupplyLines(),
          this.getSectors(),
          this.getPlots(),
          this.getSensors(),
          this.getValvePoints(),
          this.getConnections(),
          this.getHydrantPoints(),
          this.getTanks(),
          this.getWellPoints(),
          this.getIssuesData()
        ]
        return Promise.all(consumptionPromises)
      },
      /**
       * Get the "issue" layer to load in the map
       *
       * @return {Promise}
       */
      getIssuesData () {
        const _this = this

        return new Promise((resolve, reject) => {
          const issues = _this.getIssues

          if (issues.length) {
            const issuesData = {
              source: {
                id: _this.idIssuesSource,
                type: 'geojson',
                data: {
                  type: 'FeatureCollection',
                  features: null
                }
              },
              layers: [
                {
                  id: _this.idIssuesLayerCircle,
                  type: 'circle',
                  source: _this.idIssuesSource,
                  maxzoom: 12,
                  paint: {
                    'circle-radius': 4,
                    'circle-stroke-width': 1,
                    'circle-stroke-color': '#DDDDDF',
                    'circle-color': '#f8b71c'
                  }
                },
                {
                  id: _this.idIssuesLayerSymbol,
                  type: 'symbol',
                  source: _this.idIssuesSource,
                  minzoom: 12,
                  layout: {
                    'icon-image': {
                      property: 'type',
                      type: 'categorical',
                      default: 'fault',
                      stops: [
                        ['fault', 'fault'],
                        ['infrastructure_update', 'infrastructure_update'],
                        ['leak', 'leak'],
                        ['maintenance', 'maintenance']
                      ]
                    },
                    'icon-allow-overlap': true
                  }
                }
              ]
            }

            // Load all points
            issuesData.source.data.features =
              issues
                .filter((issue) => {
                  return issue.properties.current_status !== _this.closedStatus
                })
                .reduce((issuesFeatures, issue) => {
                  issuesFeatures.push({
                    type: issue.type,
                    geometry: {
                      type: issue.geometry.type,
                      coordinates: [ issue.geometry.coordinates[0], issue.geometry.coordinates[1] ]
                    },
                    properties: {
                      budget: issue.properties.budget,
                      created_at: issue.properties.created_at,
                      description: issue.properties.description,
                      estimated_time: issue.properties.estimated_time,
                      id: issue.properties.id,
                      current_status: issue.properties.current_status,
                      type: issue.properties.type,
                      typeLabel: issue.properties.type,
                      // To show in "infoView"
                      toInfoView: {
                        title: issue.properties.id,
                        info: [
                          {
                            label: _this.$t(`form.fields.description`),
                            value: issue.properties.description
                          },
                          {
                            label: _this.$t(`form.fields.type`),
                            value: _this.$t(`view.issue.types.${issue.properties.type}`)
                          },
                          {
                            label: _this.$t(`form.fields.statusLabel`),
                            value: _this.$t(`view.issue.status.${issue.properties.current_status}`)
                          },
                          {
                            label: _this.$t(`form.fields.dateStart`),
                            value: dateFormatToLocale(issue.properties.created_at)
                          }
                        ],
                        coords: {
                          longitude: issue.geometry.coordinates[0],
                          latitude: issue.geometry.coordinates[1]
                        },
                        link: `/issues/${issue.properties.id}`
                      }
                    }
                  })
                  return issuesFeatures
                }, [])

            resolve(issuesData)
          } else {
            reject(_this.errorData)
          }
        })
      },
      /**
       * Get the data about "sectors"
       *
       * @return {Promise}
       */
      getSectors () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cons.sector',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              // Insert data to "infoView"
              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.sector'),
                    info: [
                      {
                        label: _this.$t('app.map.infoView.name'),
                        value: get(feature, `properties.name`, null)
                      }
                    ]
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)
                  return feature
                })
              }

              const sectorsData = {
                source: {
                  id: _this.idSectorsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idSectorsLayerArea,
                    type: 'fill',
                    source: _this.idSectorsSource,
                    maxzoom: 16,
                    paint: {
                      'fill-color': 'transparent'
                    }
                  },
                  {
                    id: _this.idSectorsLayerLine,
                    type: 'line',
                    source: _this.idSectorsSource,
                    paint: {
                      'line-color': '#165288',
                      'line-width': 1,
                      'line-dasharray': [1, 2]
                    }
                  }
                ]
              }
              resolve(sectorsData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "plots"
       *
       * @return {Promise}
       */
      getPlots () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cons.plot',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.plot.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.plot'),
                    info: [
                      {
                        label: _this.$t('app.map.infoView.registryRef'),
                        value: feature.properties.description.RegistryRef
                      },
                      {
                        label: _this.$t('app.map.infoView.area'),
                        value: feature.properties.area + ' m2'
                      },
                      {
                        label: _this.$t('app.map.infoView.floors'),
                        value: feature.properties.floors
                      }
                    ]
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)
                  // height 3D vision
                  set(feature, `properties.height`, feature.properties.floors * 4)

                  return feature
                })
              }

              const plotsData = {
                source: {
                  id: _this.idPlotsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idPlotsLayerArea,
                    type: 'fill',
                    source: _this.idPlotsSource,
                    paint: {
                      'fill-color': '#64B6D9',
                      'fill-opacity': 0.5
                    }
                  },
                  {
                    id: _this.idPlotsLayerLine,
                    type: 'line',
                    source: _this.idPlotsSource,
                    minzoom: 16,
                    paint: {
                      'line-color': '#165288',
                      'line-width': 1
                    }
                  },
                  {
                    id: _this.idPlotsLayerBuilding,
                    type: 'fill-extrusion',
                    source: _this.idPlotsSource,
                    minzoom: 16,
                    layout: {
                      visibility: 'none'
                    },
                    paint: {
                      'fill-extrusion-color': '#64B6D9',
                      'fill-extrusion-height': {
                        property: 'height',
                        type: 'identity'
                      },
                      'fill-extrusion-opacity': 0.5
                    }
                  }
                ]
              }
              resolve(plotsData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "sensors"
       *
       * @return {Promise}
       */
      getSensors () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cons.sensor',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features
                  .map((feature) => {
                    // Insert data to "infoView"
                    const currentInfoView = {
                      title: _this.$t('app.map.infoView.sensor'),
                      info: [
                        {
                          label: _this.$t('app.map.infoView.name'),
                          value: feature.properties.name
                        },
                        {
                          label: _this.$t('app.map.infoView.dissolvedOxygen'),
                          value: `${feature.properties.dissolved_oxygen} mg/L`
                        },
                        {
                          label: _this.$t('app.map.infoView.electricConductivity'),
                          value: `${feature.properties.electric_conductivity} μS/cm`
                        },
                        {
                          label: _this.$t('app.map.infoView.ph'),
                          value: feature.properties.ph
                        },
                        {
                          label: _this.$t('app.map.infoView.temperature'),
                          value: `${feature.properties.temperature} ℃`
                        }
                      ]
                    }
                    set(feature, `properties.toInfoView`, currentInfoView)
                    return feature
                  })
              }

              const sensorsData = {
                source: {
                  id: _this.idSensorsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idSensorsLayerCircle,
                    type: 'circle',
                    source: _this.idSensorsSource,
                    maxzoom: 16,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#DDDDDF',
                      'circle-color': '#8672D2'
                    }
                  },
                  {
                    id: _this.idSensorsLayerSymbol,
                    type: 'symbol',
                    source: _this.idSensorsSource,
                    minzoom: 16,
                    layout: {
                      'icon-image': 'sensor-agua',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(sensorsData)
            })
            .catch(reject)
        })
      },

      /**
       * Get the data about "connections"
       *
       * @return {Promise}
       */
      getConnections () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.connections_point',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.connection')
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)

                  return feature
                })
              }

              const connectionsData = {
                source: {
                  id: _this.idConnectionsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idConnectionsLayerCircle,
                    type: 'circle',
                    source: _this.idConnectionsSource,
                    minzoom: 15,
                    maxzoom: 17,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#FFF',
                      'circle-color': '#3561BA'
                    }
                  },
                  {
                    id: _this.idConnectionsLayerSymbol,
                    type: 'symbol',
                    source: _this.idConnectionsSource,
                    minzoom: 17,
                    layout: {
                      'icon-image': 'acometida',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(connectionsData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "supply lines"
       *
       * @return {Promise}
       */
      getSupplyLines () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.supply_line',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }
        /* eslint-disable */
        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const supplyLinesData = {
                source: {
                  id: _this.idSupplyLinesSource,
                  type: 'geojson',
                  data: response && response.data
                    ? response.data
                    : {}
                },
                layers: [
                  {
                    id: _this.idSupplyLinesLayer,
                    type: 'line',
                    minzoom: 14,
                    source: _this.idSupplyLinesSource,
                    paint: {
                      'line-width': 1,
                      'line-color': '#86E9A7',
                    }
                  },
                  {
                    id: _this.idSupplyLinesLayer2,
                    type: 'line',
                    minzoom: 16,
                    source: _this.idSupplyLinesSource,
                    paint: {
                      'line-width': 2,
                      'line-color': '#86E9A7',
                    }
                  }
                ]
              }
              resolve(supplyLinesData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "hydrant points"
       *
       * @return {Promise}
       */
      getHydrantPoints () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.hydrant_point',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.hydrant')
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)

                  return feature
                })
              }

              const hydrantsData = {
                source: {
                  id: _this.idHydrantPointsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idHydrantPointsLayerCircle,
                    type: 'circle',
                    source: _this.idHydrantPointsSource,
                    minzoom: 15,
                    maxzoom: 17,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#FFF',
                      'circle-color': '#E87668'
                    }
                  },
                  {
                    id: _this.idHydrantPointsLayerSymbol,
                    type: 'symbol',
                    source: _this.idHydrantPointsSource,
                    minzoom: 17,
                    layout: {
                      'icon-image': 'hidrante',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(hydrantsData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "tanks"
       *
       * @return {Promise}
       */
      getTanks () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.tank',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.tank'),
                    info: [
                      {
                        label: _this.$t('app.map.infoView.reference'),
                        value: feature.properties.tank
                      },
                      {
                        label: _this.$t('app.map.infoView.capacity'),
                        value: feature.properties.capacity
                      },
                      {
                        label: _this.$t('app.map.infoView.status'),
                        value: feature.properties.status
                      },
                      {
                        label: _this.$t('app.map.infoView.location'),
                        value: feature.properties.location
                      }
                    ]
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)

                  return feature
                })
              }

              const tanksData = {
                source: {
                  id: _this.idTanksSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idTanksLayerCircle,
                    type: 'circle',
                    source: _this.idTanksSource,
                    maxzoom: 16,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#DDDDDF',
                      'circle-color': '#68BEE2'
                    }
                  },
                  {
                    id: _this.idTanksLayerSymbol,
                    type: 'symbol',
                    source: _this.idTanksSource,
                    minzoom: 16,
                    layout: {
                      'icon-image': 'deposito',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(tanksData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "wells"
       *
       * @return {Promise}
       */
      getWellPoints () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.well_point',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.well')
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)

                  return feature
                })
              }

              const wellsData = {
                source: {
                  id: _this.idWellPointsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idWellPointsLayerCircle,
                    type: 'circle',
                    source: _this.idWellPointsSource,
                    minzoom: 15,
                    maxzoom: 17,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#FFF',
                      'circle-color': '#0F82E0'
                    }
                  },
                  {
                    id: _this.idWellPointsLayerSymbol,
                    type: 'symbol',
                    source: _this.idWellPointsSource,
                    minzoom: 17,
                    layout: {
                      'icon-image': 'pozo',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(wellsData)
            })
            .catch(reject)
        })
      },
      /**
       * Get the data about "valves points"
       *
       * @return {Promise}
       */
      getValvePoints () {
        const _this = this
        const optionsRequest = {
          entity: 'aq_cata.valve_point',
          type: 'now'
        }
        const dataRequest = {
          agg: 'SUM',
          var: 'aq_cons.sector.forecast',
          filters: {
            condition: {},
            conditions: {}
          }
        }

        return new Promise((resolve, reject) => {
          _this.requestWaterConsumptionApi(optionsRequest, dataRequest)
            .then((response) => {
              const responseData = response && response.data
                ? response.data
                : {}

              if (responseData.features) {
                responseData.features = responseData.features.map((feature) => {
                  // Insert data to "infoView"
                  const currentInfoView = {
                    title: _this.$t('app.map.infoView.valve')
                  }
                  set(feature, `properties.toInfoView`, currentInfoView)

                  return feature
                })
              }

              const valvePointsData = {
                source: {
                  id: _this.idValvePointsSource,
                  type: 'geojson',
                  data: responseData
                },
                layers: [
                  {
                    id: _this.idValvePoinstLayerCircle,
                    type: 'circle',
                    source: _this.idValvePointsSource,
                    minzoom: 15,
                    maxzoom: 17,
                    paint: {
                      'circle-radius': 4,
                      'circle-stroke-width': 1,
                      'circle-stroke-color': '#FFF',
                      'circle-color': '#68BC84'
                    }
                  },
                  {
                    id: _this.idValvePoinstLayerSymbol,
                    type: 'symbol',
                    source: _this.idValvePointsSource,
                    minzoom: 17,
                    layout: {
                      'icon-image': 'valvula',
                      'icon-allow-overlap': true
                    }
                  }
                ]
              }
              resolve(valvePointsData)
            })
            .catch(reject)
        })
      },
      /**
       * Add popup with information
       *
       * @param {Object} map - currently map
       * @param {Object} e - triggered event
       */
      showInfoPopUp (map, e) {
        // Clickable layers and we search it into the map
        const clickableLayers = [
          this.idConnectionsLayerCircle,
          this.idConnectionsLayerSymbol,
          this.idHydrantPointsLayerCircle,
          this.idHydrantPointsLayerSymbol,
          this.idIssuesLayerCircle,
          this.idIssuesLayerSymbol,
          this.idSectorsLayerArea,
          this.idSensorsLayerCircle,
          this.idSensorsLayerSymbol,
          this.idTanksLayerCircle,
          this.idTanksLayerSymbol,
          this.idValvePoinstLayerCircle,
          this.idValvePoinstLayerSymbol,
          this.idWellPointsLayerCircle,
          this.idWellPointsLayerSymbol,
          this.idPlotsLayerArea,
          this.idPlotsLayerLine,
          this.idPlotsLayerBuilding
        ]
        const features = map.queryRenderedFeatures(e.point, { layers: clickableLayers })
        const currentFeature = features === undefined || !features.length
          ? false
          : features[0]

        if (currentFeature !== false) {
          let toInfoView = get(currentFeature, 'properties.toInfoView', false)

          if (toInfoView !== false) {
            if (typeof toInfoView === 'string') {
              toInfoView = JSON.parse(toInfoView)
            }

            // Center the map in the click
            map.flyTo({
              center: [
                currentFeature.geometry.coordinates[0],
                currentFeature.geometry.coordinates[1]
              ],
              speed: 0.5, // make the flying slow
            })

            if (toInfoView.title) {
              // Remove parent tooltip before
              // create one new - This solution is not the best :S
              const contentPopUpId = 'app-popup-content'
              const currentPopUp = document.getElementById(contentPopUpId)

              if (currentPopUp) {
                currentPopUp.parentNode.removeChild(currentPopUp)
              }

              // New Popup
              new mapboxgl.Popup()
                .setLngLat(e.lngLat)
                .setHTML(`<div id="${contentPopUpId}"></div>`)
                .addTo(map)

              // Content Popup
              new this.PopupContent({
                propsData: toInfoView,
                router: this.$router
              }).$mount(`#${contentPopUpId}`)
            }
          }
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
  @import '@/styles/main.scss';
  #app-map-issue {
    height: 100%;
    position: relative;
    #map {
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    .toggle-3d {
      position: absolute;
      right: 10px;
      bottom: 38px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url('../../assets/img/icons/3d.svg') center no-repeat $white;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &.active {
        background: url('../../assets/img/icons/3d-on.svg') center no-repeat $primary;
      }
    }
  }
</style>
