<template>
  <div id="app-popup-content">
    <h3 class="title">
      {{ title }}
    </h3>
    <ul class="info"
      v-if="info.length">
      <li
        v-for="(field, index) in info"
        :key="index">
        <span class="label">
          {{ field.label }}
        </span>
        {{ field.value | truncate({ length: 80, removeHtml: true }) }}
      </li>
    </ul>
    <div class="actions-popup">
      <b-button
        v-if="coords"
        type="button"
        size="sm"
        variant="primary"
        @click="openStreetView(coords)"
        >
        Ver alrededor
      </b-button>
      <b-button
        v-if="link"
        type="button"
        size="sm"
        variant="secondary"
        @click="goToDetail(link)"
        class="ml-1"
        >
        Detalles
      </b-button>
    </div>
  </div>
</template>

<script>
  // Utils
  import utils from '@/lib/utils'

  const { goToStreetView } = utils

  export default {
    name: 'app-popup-content',
    props: {
      coords: {
        type: Object,
        default: () => {}
      },
      info: {
        type: Array,
        default: () => []
      },
      link: {
        type: String,
        default: null
      },
      title: {
        type: String,
        default: null
      }
    },
    methods: {
      /**
       * Go to detail view selected issue
       * @param {String} link - link to detail
       */
      goToDetail (link) {
        if (link) {
          this.$router.push({ path: link })
        }
      },
      /**
       * Open Street View
       * @param {Object} coords - address coordinates
       */
      openStreetView (coords) {
        goToStreetView(coords.latitude, coords.longitude)
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #app-popup-content {
    height: 100%;
    min-width: 80px;
    max-width: 200px;
    .title {
      color: $secondary;
      font-size: $font-size-lg;
      line-height: $font-size-lg;
      padding: 0;
      margin: 0;
    }
    .info {
      margin: $margin-sm 0 0;
      padding: 0;
      list-style: none;
      min-width: 120px;
      & > li {
        margin-bottom: $margin-xs;
        font-size: $font-size-xs;
        line-height: $font-size-xs;
        .label {
          display: block;
          font-size: $font-size-sm;
          line-height: $font-size-sm;
          text-transform: capitalize;
          margin-bottom: $margin-xxs;
        }
      }
    }
    .actions-popup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: $margin-sm;
      .btn {
        flex: 1 1 auto;
      }
      .btn-sm {
        line-height: 1.2rem;
        font-size: 0.6rem;
      }
    }
  }
</style>