<template>
  <div id="layout-login">
    <!-- Header without Menu -->
    <header>
      <app-header
        :showMenu="false">
      </app-header>
    </header>
    <main>
      <!-- Content App -->
      <transition
        name="fade"
        mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
  </div>
</template>

<script>
  import AppHeader from '@/components/interface/AppHeader'

  export default {
    name: 'layout-login',
    components: { AppHeader }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #layout-login {
    background: $neutral-20;
    padding-top: $height-menu;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    main {
      height: 100%;
    }
  }
</style>
