<template>
  <div id="layout-main">
    <!-- Header and SideMenu -->
    <header>
      <app-header></app-header>
    </header>
    <main>
      <!-- Content App -->
      <transition
        name="fade"
        mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
    <!-- Menu -->
    <nav>
      <app-menu></app-menu>
    </nav>
    <!-- European LOGO -->
    <div id="european-logo">
      <img src="@/assets/img/european_logo.jpg">
    </div>
  </div>
</template>

<script>
  import AppHeader from '@/components/interface/AppHeader'
  import AppMenu from '@/components/interface/AppMenu'

  export default {
    name: 'layout-main',
    components: { AppHeader, AppMenu }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import '@/styles/main.scss';
  #layout-main {
    background: $neutral-20;
    padding-top: $height-menu;
    padding-bottom: $height-menu + $height-european;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    main {
      height: 100%;
    }
    #european-logo {
      z-index: 3;
      position: fixed;
      bottom: 0;
      left: 0;
      height: $height-european;
      width: 100%;
      background: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $padding-xs 0;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
</style>
